<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started ?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum asperiores facere quidem, vel natus soluta temporibus quibusdam placeat voluptatibus sequi tempora consequatur molestias, alias assumenda odit, quos ratione nemo recusandae.</p>    
        </div>
      <a href="#" class="btn btn--secondary">Get Started</a>
    </div>
</div>