<div class="card card--primary">
    <header class="card__header"> This the Card Title</header>
    <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime itaque natus dolore libero iusto delectus iure, facilis aspernatur nulla, accusantium recusandae a? Laudantium velit dolores deserunt incidunt quos alias dicta dolor labore laborum atque eveniet autem, aperiam, nulla distinctio, voluptates inventore a! Distinctio doloribus amet cupiditate excepturi illo, ea illum?
    </div>
</div>