<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum necessitatibus alias numquam adipisci enim nihil tempora, fuga voluptatibus soluta. </p>
        
    </header>
    <article class=" grid grid--1x2 features">
        <div class="content__features">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__title">Super Easy to use </h3>
            <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum necessitatibus alias numquam adipisci enim nihil tempora, fuga voluptatibus soluta. </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x" alt="" />
            <source type="image/jpg" srcset="images/easy@1x.jpg 1x, images/easy@2x.jpg 2x" alt="" />
            <img class="features__image" src="images/easy.jpg" alt="" />
        </picture>
    </article>

    <article class=" grid grid--1x2 features">
        <div class="content__features">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#fast"></use>
                </svg>
            </span>
            <h3 class="feature__title">Easy start & Managed Updates</h3>
            <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum necessitatibus alias numquam adipisci enim nihil tempora, fuga voluptatibus soluta. </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x" alt="" />
            <source type="image/jpg" srcset="images/fast@1x.jpg 1x, images/fast@2x.jpg 2x" alt="" />
            <img class="features__image" src="images/fast.jpg" alt="" />
        </picture>
    </article>

    <article class="grid grid--1x2 features">
        <div class="content__features">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__title">Easy start & Managed Updates</h3>
            <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum necessitatibus alias numquam adipisci enim nihil tempora, fuga voluptatibus soluta. </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/wordpress@1x.webp 1x, images/wordpress@2x.webp 2x" alt="" />
            <source type="image/jpg" srcset="images/wordpress@1x.jpg 1x, images/wordpress@2x.jpg 2x" alt="" />
            <img class="features__image" src="images/wordpress.jpg" alt="" />
        </picture>
    </article>
</section>
