
<section class="block block--dark hero">
    <div class="container grid grid--1x2">
        <header class=" hero__content">
            <h1 class="block__heading">cloud hosting for pros</h1>
            <p class="hero__tagline">An open-source cloud hosting service in less than 60 seconds</p>
            <a href="#"class="btn btn--accent btn--stretched">GET STARTED</a>
        </header>
        <picture>
            <source type="image/webp" srcset="images/banner@1x.webp 1x, images/banner@2x.webp 2x" />
            <source type="image/png" srcset="images/banner@1x.png 1x, images/banner@2x.png 2x" />

            <img class="hero__banner" src="images/banner.png" alt="">
        </picture>
    </div>
</section>